* {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(255, 255, 255);
  scroll-behavior: smooth;
}

.container {
  padding: 3rem;
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container a {
  margin: 1rem;
  display: inline-block;
  border: 1px solid rgb(224, 224, 224);
  padding: 1.5rem;
  text-decoration: none;
  color: black;
}
.container a:hover {
  text-decoration: underline;
}

header img {
  width: 10rem;
}
header {
  padding: 5rem;
}

.output {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#products {
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 2rem;
  width: 90%;
  text-align: left;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#product {
  padding-top: 5rem;
  text-align: left;
  margin-left: 10rem;
}

.slider img {
  height: 70%;
  object-fit: cover;
  width: 100%;
}

.slider {
  position: relative;
}

.slider h1 {
  padding: 2rem;
  position: absolute;
  z-index: 1;
  left: 70%;
  top: 40%;
}

#back {
  display: inline-block;
  padding: 5rem;
  color: blue;
  font-size: 1.5rem;
  text-decoration: none;
}

#back:hover {
  text-decoration: underline;
}
